<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEV_HOME" value="/Users/nitingupta2/log/admin-server/logs/customer-service"/>
    <property name="APP_NAME" value="customer-service"/>
    <!-- Required for Loglevel managment into the Spring  Admin Server-->
    <include resource="logback-common.xml"/>
</configuration>